@import "./global/global.scss";
@import "./global/fonts.scss";
@import "./mainBox/nav.scss";
@import "./mainBox/mainBox_1.scss";
@import "./mainBox/mainBox_2.scss";
@import "./mainBox/mainBox_3.scss";
@import "./mainBox/mainBox_4.scss";
@import "./mainBox/footer.scss";

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1024px) {
  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  nav {
    .navMainBox {
      .navRightSide,
      .btn {
        display: none;
      }
      .hamburgerMenu {
        display: flex;
      }
    }
  }
  .mainBox_1 {
    .sectionMainBox_1 {
      flex-direction: column-reverse;
      .sectionLeftSide {
        .starImg {
          display: none;
        }
      }
    }
  }
  .mainBox_2 {
    .sectionMainBox_2 {
      padding: 45px 45px;
      .companyLogo {
        @include flex(space-around, unset, unset, 0 41px, wrap);
      }
      .SectionSides_1 {
        flex-direction: column;
        .rightSide_1 {
          .p_1 {
            margin-top: 16px;
          }
        }
      }
      .sectionFooter_1 {
        flex-direction: column;
        .sectionBox_1,
        .sectionBox_2,
        .sectionBox_3 {
          max-width: 480px;
          width: 100%;
        }
      }
      .sectionSides_2 {
        flex-direction: column;
      }
      .sectionSides_3 {
        flex-direction: column;
        row-gap: 24px;
      }
      .sectionSides_4 {
        flex-direction: column-reverse;
        padding-top: 0;
      }
      .sectionSides_5 {
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: 36px;
        height: 930px;
        padding-top: 0;
        .rightSide_5 {
          flex-direction: column;
          .rightSideBox_4 {
            max-width: 329px;
            width: 100%;
            padding-right: 0;
            padding-left: 30px;
          }
          .rightSideBox_5 {
            max-width: 329px;
            width: 100%;
            padding-left: 30px;
            padding-right: 0;
          }
        }
      }
      .sectionSides_6 {
        flex-direction: column;
        padding-top: 0;
      }
      .sectionFooter_2 {
        .firstFooterBox_1 {
          padding-left: 0;
          align-items: center;
        }
        .secondFooterBox_1 {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  .mainBox_3 {
    .sectionMainBox_3 {
      padding: 70px 36px;
      .sectionBlock_1 {
        justify-content: unset;
        padding-left: 28px;
        max-width: 329px;
        width: 100%;
        height: 832px;
        .Bitmap_3 {
          max-width: 191px;
          width: 100%;
          top: 62%;
          left: 21%;
        }
        .path {
          max-width: 226px;
          width: 100%;
          top: 72%;
          left: 8%;
        }
        .iconBlock {
          max-width: 148px;
          width: 100%;
          top: -9%;
          left: 3%;
        }
      }
      .firstSectionBox_4 {
        .sectionBox_10 {
          display: none;
        }
      }
      .sectionSides_7 {
        @include flex(center, center, column, 50px 0, unset);
        padding-bottom: 0;
        .rightSide_7 {
          .rightSide_p2 {
            font-size: 24px;
          }
        }
      }
    }
  }
  .mainBox_4 {
    .sectionMainBox_4 {
      .firstSectionBox_5 {
        .section_p14 {
          font-size: 40px;
        }
      }
      .secondSectionBox_5 {
        .sectionSides_8 {
          flex-direction: column;
        }
      }
      .firstSectionBox_6 {
        align-items: center;
        padding-left: 0;
        .section_p19 {
          font-size: 40px;
        }
      }
      .secondSectionBox_6 {
        flex-direction: column;
        height: 1300px;
        align-items: center;
      }
      .sectionSides_9 {
        flex-direction: column;
        .leftSide_9 {
          a {
            margin-bottom: 36px;
          }
        }
      }
      .secondSectionBox_7 {
        .sectionbox_16,
        .sectionbox_17,
        .sectionbox_18 {
          flex-direction: column;
          align-items: center;
          row-gap: 20px;
          .subsectionBox_7 {
            flex-direction: column;
          }
          .subsectionBox_9 {
            flex-direction: column;
          }
        }
        .sectionbox_17,
        .sectionbox_18 {
          .subsectionBox_8 {
            margin: 0;
          }
        }
      }
      .firstSectionBox_8 {
        flex-direction: column;
        row-gap: 30px;
        .blogs {
          align-items: center;
        }
        a {
          align-self: center;
        }
      }
      .secondSectionBox_8 {
        flex-direction: column;
        row-gap: 60px;
      }
    }
  }
  footer {
    .footerMainBox {
      .FooterBox_6 {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        .footerBox_5 {
          flex-direction: column;
          row-gap: 30px;
        }
      }
      .agencyMap {
        padding: 25px 25px;
        justify-content: center;
        .pin2 {
          display: none;
        }
        .footerBox_7 {
          padding: 48px 20px;
          .submit_now {
            align-self: flex-start;
          }
          .footerForm {
            input {
              width: 300px;
            }
          }
        }
      }
      .footerBox_9 {
        flex-direction: column;
        align-items: center;
      }
      .footerBox_10 {
        padding: 40px 15px;
        .sectionSides_10 {
          flex-direction: column-reverse;
          row-gap: 40px;
          // padding: ;
          .leftSide_10 {
            h3 {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mainBox_1 {
    .sectionMainBox_1 {
      .sectionLeftSide {
        h2 {
          font-size: 56px;
        }
      }
    }
  }
  .mainBox_3 {
    .sectionMainBox_3 {
      .secondSectionBox_1 {
        display: none;
      }
      .firstSectionBox_2 {
        flex-direction: column;
      }
      .secondSectionBox_2 {
        flex-direction: column;
        row-gap: 30px;
      }
      .sectionBlock_1 {
        padding-left: 16px;
      }
      .firstSectionBox_3 {
        .section_p8 {
          font-size: 44px;
        }
      }
      .secondSectionBox_3 {
        .sectionbox_8 {
          .subSectionBox_1 {
            .sub_p_1 {
              padding-right: 40px;
            }
            .subTime {
              padding-right: 55px;
            }
          }
        }
      }
      .firstSectionBox_4 {
        text-align: center;
        padding: 0;
        .sectionBox_9 {
          .section_p10 {
            font-size: 29px;
          }
        }
      }
    }
  }
  .mainBox_4 {
    .sectionMainBox_4 {
      .sectionSides_9 {
        .rightSide_9 {
          .subSectionBox_6 {
            gap: 0 30px;
            padding: 30px 20px;
          }
        }
      }
      .firstSectionBox_8 {
        padding: 0 43px 64px 43px;
      }
    }
  }
  footer {
    .footerMainBox {
      .footerBox_11 {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        .agencyFooter {
          padding-right: 40px;
        }
      }
      .footerBox_14 {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .mainBox_1 {
    .sectionMainBox_1 {
      padding: 50px 15px;
      .sectionLeftSide {
        h2 {
          font-size: 60px;
        }
      }
    }
  }

  .mainBox_2 {
    .sectionMainBox_2 {
      padding: 45px 29px;
      .SectionSides_1 {
        .leftSide_1 {
          img {
            max-width: 220px;
            width: 100%;
          }
        }
        .rightSide_1 {
          .p_2 {
            font-size: 30px;
          }
        }
      }
      .sectionFooter_1 {
        .sectionBox_1,
        .sectionBox_2,
        .sectionBox_3 {
          max-width: 300px;
          width: 100%;
          padding: 45px 50px 38px 45px;
        }
      }
      .sectionSides_2 {
        .rightSide_2 {
          .rightSideBox_1,
          .rightSideBox_2,
          .rightSideBox_3 {
            .sub_p1 {
              font-size: 60px;
            }
            .sub_p2 {
              font-size: 20px;
            }
          }
        }
      }
      .sectionSides_4 {
        .leftSide_4 {
          .left_p2 {
            font-size: 40px;
          }
        }
      }
      .sectionSides_6 {
        .rightSide_6 {
          .right_p2 {
            font-size: 40px;
          }
        }
      }
      .sectionFooter_2 {
        .firstFooterBox_1 {
          .footer_p2 {
            font-size: 30px;
          }
        }
      }
    }
  }

  .mainBox_3 {
    .sectionMainBox_3 {
      .firstSectionBox_3 {
        .section_p8 {
          font-size: 30px;
        }
      }
      .secondSectionBox_3 {
        .sectionbox_8 {
          .subSectionBox_1 {
            padding: 36px 25px;
          }
        }
      }
      .secondSectionBox_4 {
        .sectionBox_11 {
          .sectionSubBox_1 {
            padding-left: 0;
            padding-right: 0;
          }
        }
        .sectionBox_12,
        .sectionBox_13,
        .sectionBox_14 {
          display: none;
        }
      }
    }
  }

  .mainBox_4 {
    .sectionMainBox_4 {
      padding: 70px 25px;
      .secondSectionBox_5 {
        .sectionSides_8 {
          .leftSide_8 {
            .sectionBox_15 {
              padding: 48px 23px;
            }
          }
        }
      }
      .secondSectionBox_6 {
        height: 1400px;
      }
      .sectionSides_9 {
        padding-top: 100px;
        padding-bottom: 100px;
        .rightSide_9 {
          .subSectionBox_6 {
            padding: 25px 10px;
          }
        }
      }
    }
  }

  footer {
    .footerMainBox {
      .FooterBox_6 {
        .footerBox_5 {
          .email_input {
            width: 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .mainBox_3 {
    .sectionMainBox_3 {
      .secondSectionBox_3 {
        row-gap: 30px;
        flex-direction: column;
        align-items: center;
        .sectionbox_8 {
          max-width: 370px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .mainBox_3 {
    .sectionMainBox_3 {
      padding: 70px 35px;
      .secondSectionBox_3 {
        .sectionbox_8 {
          .subSectionBox_1 {
            padding: 36px 17px;
            .sub_p_1 {
              padding-right: 0;
            }
            .subTime {
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  .mainBox_4 {
    .sectionMainBox_4 {
      padding: 70px 23px;
      .firstSectionBox_8 {
        .blogs {
          .blog2 {
            font-size: 48px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  footer {
    .footerMainBox {
      .agencyMap {
        background-image: none;
        .footerBox_7 {
          .footerForm {
            input {
              width: 240px;
            }
          }
        }
      }
    }
  }
}
